/* 스타일시트 */
/* 셋업 */
*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;text-decoration: none;}
/* 시작 */
/* 클래스 셋업 */
.hidden {
    display: none;   
   
}


/* 레이아웃 정리 */
body{ 
    background-color: #ffffff;
    color: #333333;
    width: 1000px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
#nav{
    width: 200px;
    height: inherit;
    background-color: khaki; 
}
#menubox{
    width: 160px;
    height: auto;
}
#logo {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    margin-bottom: 20px;
}

#menu {
    width: 160px;
    height: 50px;
    background-color: linen;
    margin-left: 20px;  
    border: 1px solid black;
    
}
#box {
    height: 50px;
   transition: 200ms;
  
}
#submenu {
    height: 50px;
    background-color: cadetblue;
    border: 1px solid red;
    

}
#popup { 
    width: 300px;
    height: 400px;
    position: absolute;
    background-color: violet;
    z-index: 1;
}

#container {
    width: 800px;
    height: 650px;
    background-color: lightblue;
    
}
#mainvisual{
    width: 800px;
    height: 350px;
    background-color: lemonchiffon;
}

#subvisual {
    width: 800px;
    height: 200px;
    background-color: palegreen;
    
}
#subvisual ul {
    width: 800px;
    height: 200px;
    border: orchid 1px solid;
    display:  flex;
}
#subvisual ul li  {
    width: 33.33%;
    height: 200px;
    border: 1px solid black;
}
#footer {
    width: 800 px;
    height: 100px;
    background-color: lightsalmon;
    display: flex;
}
#copy {
    width: 600px;
    height: 100px;
    background-color: brown;
}
#icon{
    width: 200px;
    height: 100px;
    background-color: violet;
}